*.user

*.aeproperties

.vs/

*.tmp

*.Generated.cs
*.Generated.Event.cs
*.generatedpreview.png

TiledObjects.Generated.xml

*.cachefile

*.csvSettings

*.sln.metaproj

packages/

WonkeyGonk/WonkeyGonk/bin/
WonkeyGonk/bin/

WonkeyGonk/WonkeyGonk/obj/
WonkeyGonk/obj/

WonkeyGonk/Content/obj/

!WonkeyGonk/x64
!WonkeyGonk/x86
!WonkeyGonk/Libraries